
before_script:
    - git config --global user.email "testing-git-release@example.com"
    - git config --global user.name "Testing git-release git user"

script:
    - echo $(bash --version)
    - test/bin/run_all
